body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-container {
    width: 300px;
    position: relative;
}

#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#results {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    background-color: white;
    display: none;
}

#results li {
    padding: 10px;
    cursor: pointer;
}

#results li:hover {
    background-color: #f0f0f0;
}
/* 添加图片样式 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 水平居中 */
    min-height: 100vh;
    padding: 20px;
}

/* 图片样式 */
.header-image {
    max-width: 300px; /* 根据实际图片尺寸调整 */
    width: 100%;
    height: auto;
    margin-bottom: 300px; /* 控制图片和搜索框之间的间距 */
}

/* 搜索容器样式 */
.search-container {
    width: 80%;
    max-width: 80000px; /* 控制搜索框最大宽度 */
    position: relative;
}